$black: #222;
$white: #fff;
$color-main: #135E70;
$color-main-dark: darken( $color-main, 10% );
$color-main-light: #89afb8;
$color-highlight: #61daff;
$color-highlight-light: lighten( $color-highlight, 25% );
