.page-header {
  margin-bottom: $gutter*2;
  h1 {
      font-size: 2rem;
    @include to (portrait) {
      font-size: 1.75rem;
    }
    margin-bottom: 0;
  }
  p {
    font-size: 1.5rem;
    margin-top: $gutter/2;
  }
}
